.img{
    position: relative;
}
.img img{
    box-shadow: rgba(0, 0, 0, 0.582) 1px 0 10px;
}
/* .img_fondo_legendaria{
    left: 0px;
    border-style: solid;
    border-color:rgb(255, 166, 0);
} */
.img_fondo_epica{
    left: 0px;
    border-style: solid;
    border-color:rgb(174, 0, 255);
}

.img_fondo_pocoComun{
    left: 0px;
    border-style: solid;
    border-color:rgb(0, 132, 255);
}
.img_fondo_comun{
    left: 0px;
    border-style: solid;
    border-color:rgb(93, 93, 93);
}

.nombre{
    position: absolute;
    top: 30px;
    left: 25px;
    font-size:35px;
    color:white;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    text-align: center;
}

.vida{
    position: absolute;
    bottom: 0px;
    left: 10px;
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
}
.text_vida{
    position: absolute;
    color:rgb(255, 255, 255);
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    left: 35px;
    bottom: 10px;
    font-size:40px;
    text-align: match-parent;
    background-repeat: no-repeat;
}
.dmg{
    position: absolute;
    top: 280px;
    left: 205px;
    width: 100px;
    height: 100px;
    font-size:35px;
    color:rgb(255, 255, 255);
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    text-align: center;
}

.coste{
    position: absolute;
    top: -30px;
    left: 200px;
    width: 100px;
    height: 100px;
    font-size:50px;
    color:rgb(255, 255, 255);
    text-shadow: rgb(255, 255, 255) 1px 0 5px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100px 100px;
}


.img_fondo_legendaria {
	position: relative;
	background: linear-gradient(0deg, #000, #272727);
}

.img_fondo_legendaria:before, .img_fondo_legendaria:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094,
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.img_fondo_legendaria:after {
	filter: blur(50px);
}


