*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav-bot{
    position: relative;
    bottom: 0;
    white-space: nowrap;
    background: white;
    padding: var(--underline-height) 0;
    /* margin: 2em 0; */
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.05);
}

.nav-bot a {
    margin: 0;
    display: inline-block;
    z-index: 10;
    width: 33.33%;
    padding: 16px 0;
    text-align: center;
    cursor: pointer;
    color:#ffffff;
    background-color:#324877;
    border-left:2px solid rgb(150, 195, 255);
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
  }

.nav-bot a:hover {
    color: #ffffff;
    background-color:#2381df;
}

.active:hover {
    background-color: #2381df;
}

.active:active {
    background-color:#2381df;
}

@keyframes color-animation {
    0%{
        background-color:#324877;
    }
    50% {
        background-color:#2381df;
    }
    100%{
        background-color:#324877;
    }
}

.active {
    background-color: #2381df;
    animation: color-animation 5.5s infinite;
}

.nav-top{
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.5rem 5px;

}
.nav-top .info{
    /* margin: 0 10px; */
    padding: 2px 10px;
    color: #ffffff;
    text-shadow: #ffffff 1px 0 1px;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.05);
    z-index: 1;
    text-align: center;
}
/* lvls */
.progress {
    position: absolute;
    width: 270px;
    border-radius: 0px 5px;
    background-color: #9bfd71;
    top: 60px;
    left: 0px;
}

.progress-bar {
    background-color: #9bfd71;
    display: flex;
    color: #9bfd71;
    border-radius: 5px;
}

.progress-bar-text {
    position: absolute;
    width: 45px;
    text-align: center;
    background-color: #9bfd71;
    border-radius: 50%;
    font-weight: bold;
    font-size: 25px;
    color: #ffffff;
    z-index: 1;
    top: 45px;
    left: -10px;

}

.money {
    width: 25px;
}
.money-text{
    padding-right: 5px;
}

#nav-bar{
    margin: 20px;
    width: 270px;
    height: 75px;
    border-radius: 10px;
    bottom: 0px;
}

.money_profile{
    position: absolute;
    left: 300px;
    top:45px;
}

.img_profile{
    position: absolute;
    width: 35px;
    border-radius: 5px;
    left: 40px;
    top: 10px;
}
.nick{
    position: absolute;
    left: 70px;
    top: 15px;
    text-shadow: #ffffff 1px 0 5px;
}
